ipykernel 
ipython
ipython-genutils 
ipywidgets 
jupyter 
jupyter-client
jupyter-console 
jupyter-core 
jupyter-server 
jupyterlab==3.0.16
jupyterlab-pygments 
jupyterlab-server==2.6.1
jupyterlab-widgets 
matplotlib==3.4.2
notebook 
numexpr
numpy 
pandas==1.2.5
scikit-learn 
scipy 
seaborn 
voila
widgetsnbextension