anyio 
appnope 
argon2-cffi
async-generator 
attrs 
Babel==2.9.1
backcall
bleach 
Bottleneck 
brotlipy==0.7.0
certifi==2021.5.30
cffi 
chardet 
charset-normalizer 
cryptography 
cycler==0.10.0
decorator 
defusedxml 
entrypoints==0.3
idna 
importlib-metadata 
ipykernel 
ipython
ipython-genutils 
ipywidgets 
jedi 
Jinja2 
joblib 
json5==0.9.6
jsonschema 
jupyter 
jupyter-client
jupyter-console 
jupyter-core 
jupyter-server 
jupyterlab==3.0.16
jupyterlab-pygments 
jupyterlab-server==2.6.1
jupyterlab-widgets 
kiwisolver 
MarkupSafe 
matplotlib==3.4.2
mistune 
mkl-fft
mkl-random 
mkl-service==2.4.0
nbclassic==0.3.1
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numexpr
numpy 
olefile==0.46
packaging 
pandas==1.2.5
pandocfilters
parso==0.7.0
pexpect 
pickleshare 
Pillow 
prometheus-client 
prompt-toolkit 
ptyprocess 
pycparser 
Pygments 
pyOpenSSL
pyparsing 
pyrsistent 
PySocks 
python-dateutil 
pytz 
pyzmq==20.0.0
qtconsole 
QtPy==1.9.0
requests 
requests-unixsocket==0.2.0
scikit-learn 
scipy 
seaborn 
Send2Trash 
sip==4.19.13
six 
sniffio 
terminado==0.9.4
testpath 
threadpoolctl 
tornado 
traitlets
urllib3
voila
wcwidth 
webencodings==0.5.1
websocket-client
widgetsnbextension 
zipp
